@import './typography.css';
@import './colors.css';
@import './shadows.css';
@import './scale.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, sans-serif;
}
